html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.LuciadMap {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}